/* your styles go here */
.dropdown-menu{
    position: absolute;
    z-index: 3;
}

.sidebar-cart{
    background-color: #FAF9F6;
    top :0;
    right: 0;
    height: 100%;
    /* width: 28%; */
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 9999999999999;
}