html,
body,
.intro {
  height: 100%;
}


table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

thead th,
tbody th {
  color: rgb(0, 0, 0);
}

tbody td {
  color: rgba(0, 0, 0, 0.65);
}

.card {
  border-radius: .5rem;
}


.bg-blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.pt-6{
    padding-top:100px;
}